body {
  font-family: Arial;
}

.container {
  border: 1px solid salmon;
}

.row {
  justify-content: center; 
  align-items: center;
  
  margin-top: 3px; 
  margin-bottom: 3px;
}

.card {
  margin: 2px;
  /* cursor: pointer; */

}
.standout {
  margin: 2px;

  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px, rgb(51,51,51) 0px 0px 0px 3px;
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}