body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/* nav */
.navbar {
  background-color: #eee;
  height: 50px;    
}

.navbar-nav {
  margin: 0 auto;
  text-decoration: none;
}

.nav-item {
  list-style: none;
  float: left;
  width: 100px;
  margin: 10px auto;
}

/* header */
.headerContainer {

}

/* Employees */
.row {
  justify-content: center; 
  align-items: center;
  
  margin-top: 3px; 
  margin-bottom: 3px;
}

.card {
  margin: 2px;
  /* cursor: pointer; */

}
.standout {
  margin: 2px;

  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px, rgb(51,51,51) 0px 0px 0px 3px;
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1,h1,h3,h4,h5,p {
  text-align: center;
}

@media only screen and (max-width:640px) {
  .card-collection {
    grid-template-columns: 1fr;
  }
}